/* -----------------------------Reset styles----------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  /* Variables */
  :root {
    --primary-color: ##FFFFFF;
    --secondary-color: #AFCEDD;
    --text-color: #1E1E1E;
    --text-blue:#234894;
    --text--gray:#696969;
    --border-color:#678edb;
    --button-color:#219F95;
    --font-family: d , Vazirmatn FD, sans-serif;
  }
  
  /* -----------------------------Global styles----------------------------- */
  html {
    font-size: 62.5%;
  }
  html,
  body,
  p {
    text-size-adjust: none !important;
  }
  body {
    font-family: var(--font-family);
    font-size: 1.4rem;
    line-height: 1.7;
    background-color: var(--primary-color);
  }

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  h3{
    font-size: 1.3rem;
  }
  
  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 3rem;
      margin-bottom: 3.5rem;
      margin-top: 2.5rem;
    }
  }
 
    /* -----------------------------container----------------------------- */

.container {
    max-width: width 1024px;
    margin: 0 auto;
  }

  /* -----------------------Card----------------------- */

  .card {
    /* border-radius: 20px; */
    overflow: hidden;
    /* box-shadow: 0 0 20px 10px hsla(199, 64%, 76%, 0.986); */
  }
  .card__header,
  .card__body {
    padding: 1rem 2rem;
  }
  .card__header {
    color: var(--color-white);
  }
  .card--secondary .card__header {
    background-color: var(--color-secondary-dark);
  }
  .card--primary .card__header {
    background-color: var(--color-primary-light);
  }

   /* -----------------------View-current-requests----------------------- */
.requests-View {
  display: grid;
  gap: 8rem 6rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  margin-top: 5rem;
}


  .requests-View-One {
    font-size: 1.4rem;
    transition: all 0.2s ease-out;
    width: 100%;
}

  .requests__heading{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .requests-View_introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
 
  .requests-View-One .requests__item {
    font-size: 1.4rem;
  }

.requests-View-Two {
    list-style: none;
    font-size: 1.4rem;
  }
  
  @media screen and (min-width: 1024px) {
    .requests--list .requests__item {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  }


.requests-View_number{
  width: 25px;
  height: 27px;
  background-color: var(--border-color);
  font-size: 18px;
  font-weight: 900px;
  line-height: 27px;
  text-align: center;
  top: 6px;
  margin-left: 10px;
  border-radius: 20%;
}

.requests-View_upload{
  color: var(--text-blue);
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 1.4rem;
    font-weight: 400px;
    line-height: 24px;
    width: 95px;
    height: 24px;
    margin-left: 110px;
}
.requests-View_date{
    width: 30px;
    height: 15px;
    top: 25px;
    font-family: var(--font-family);
    font-weight: 400px;
    font-size: 1.3rem;
    line-height: 18px;
    margin-left: 30px;
}

.requests__item.request__member{
  display: block;
}

.requests__item_Membership{
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 27px;
  width: 135px;
  height: 27px;
}

.requests__item_id{
    color: var(--text--gray);
    font-family: var(--font-family);
    font-weight: 400px;
    font-size: 1.2rem;
    line-height: 18px;
    text-align: right;
    width: 132px;
    height: 18px;
}

.requests__item.request__picture__name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.requests__item_name_pic{
    width: 40px;
    height: 40px;
    border-radius: 6px;
}
.requests__item_family{
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 500px;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: right;
  width: 96px;
  height: 24px;
  margin-right: -20px;
  text-wrap: nowrap;
}


.request__view__button{
  margin-left: -5px;
}

.request__view__button__box{
  color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 500px;
    line-height: 24px;
    text-align: center;
    width: 100px;
    height: 35px;
    background-color: var(--button-color);
    border-radius: 8px;
    text-wrap: nowrap;
    display: inline-table;
    justify-content: flex-end;
    align-items: end;
    border-style: none;
}

@media screen and (max-width: 768px){
  .container{
    max-width: width 652px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1326){
  .container{
    max-width:fit-content;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
}
  .requests-View {
    display: grid;
    gap: 8rem 6rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    margin-top: 5rem;
  }

  .requests__heading{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }

  .requests__item_Membership{
    font-size: 1.5rem;
    font-weight: 900px;
  }
  .requests__item_id{
      font-weight: 400px;
      font-size: 1.1rem;
  }
  .requests-View_upload{
    font-size: 1.6rem;
    font-weight: 600px;
    margin-left: 110px;
  }
  .requests-View_date{
    font-weight: 500;
    font-size: 1.4rem;
    width: 40px;
    height: 18px;
    margin-left: 0;
  }
  .requests__item_family{
    font-weight: 700px;
  font-size: 1.4rem;
  }
  .request__view__button__box {
    font-size: 1.3rem;
    width: 120px;
    height: 45px;
  }
}

